#root,
html,
body {
	height: 100vh;
}

body {
	margin: 0;
	background-color: whitesmoke;
}

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

.logout {
	border: none;
	border-radius: 25px;
	background-color: #3a5fbb;
	color: #ffffff;
	cursor: pointer;
}

.createdBy {
	color: #3a5fbb;
	font-size: 6vw;
	font-family: "Kaushan Script", cursive;
}
